<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" rel="styleSheet">
    <title>TOP</title>
</head>
<body>
<div class="header-contents">
    <h1>匿名掲示板</h1>
</div>
<div class="main-contents">
    <a href="/new">
        <button class="new-button" type="button">新規投稿</button>
    </a>

    <!-- 絞り込み機能 -->
    <div>
        <form action="/">
            日付：<input type="date" name="start">
            ～　<input type="date" name="end">
            <input type="submit" value="絞り込み">
        </form>
    </div>
    <br>
    <div class="message-icon" th:each="content : ${contents}">
        <div>
            ID : <span th:text="${content.id}"/>
        </div>
        <div class="text">
            投稿 : <span th:text="${content.content}"/>
        </div>

        <!-- 投稿の編集・削除ボタン -->
        <div class="edit-button">
            <a th:href="@{/edit/{id}(id=${content.id})}">
                <input type="button" value="編集">
            </a>
        </div>
        <div class = "delete-button">
            <form th:action="@{/delete/{id}(id=${content.id})}" th:method="delete">
                <input type="submit" value="削除">
            </form>
        </div>

        <!-- コメントフォーム -->
        <!-- PostMappingの"/comment/reportId"の処理に飛ぶ -->
        <form th:object="${commentFormMap[content.id]}" th:action="@{/comment/{reportId}(reportId=${content.id})}" method="post" >
            <div class="comment-form">
                <div class="form-area">
                    <label>コメント</label>
                    <textarea class="tweet-box" size="20" maxlength="200"></textarea><br/>
                    <!-- コメントボタン -->
                    <div class="comment-button">
                        <input type="submit" value="コメント" />
                    </div>
                </div>
            </div>
        </form>
        <!-- コメント内容 -->
        <div class="each-comment" th:each="comment : ${commentMap[content.id]}">
            <div class="text">
                コメント : <span th:text="${comment.comment}"></span></div>

            <!-- コメントの編集・削除ボタン -->
            <div class="edit-button">
                <a th:href="@{/edit/comment/{id}(id=${comment.id})}">
                    <input type="button" value="編集">
                </a>
            </div>
            <div class="delete-button">
                <form th:action="@{/delete/comment/{id}(id=${comment.id})}" th:method="delete">
                    <input type="submit" value="削除">
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
